.App{
background: #f8f7fd;
}
.nav{
  background:aqua;
}
.defaultCards{
  background-size: cover;
  width: 80rem;
  margin:0 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}
@media screen and (max-width:600px) {
  .defaultCards{
    grid-template-columns: auto;
    margin: 10px;
  width: fit-content;

  }
  
}